https://gist.github.com/jeremystan/c3b39d947d9b88b3ccff3147dbcf6c6b
https://www.kaggle.com/code/waxbabi/light-gbm-benchmark-0-3692

In [58]:
import os
import numpy as np
import pandas as pd

import gc

In [46]:
base_path = '../Data/InstaCart'

In [47]:
priors = pd.read_csv(os.path.join(base_path, 'order_products__prior.csv'))
train = pd.read_csv(os.path.join(base_path, 'order_products__train.csv'))
orders = pd.read_csv(os.path.join(base_path, 'orders.csv'))
products = pd.read_csv(os.path.join(base_path, 'products.csv'))

* order_id : 주문 고유 아이디
* user_id : 소비자 고유 아이디
* product_id : 제품 고유 아이디
* eval_set : 소비자 군(prior / train / test)
* order_number : 주문번호
* order_dow : 주문 요일
* order_hoour_of_day : 일일 중 시간
* days_since_prior_order : 
* add_to_cart_order : 장바구니 담은 제품 개수
* reodered : 재주문 제품 개수
* product_name : 제품 이름
* aisle_id : 제품 상세카테고리 고유 아이디
* department_id : 제품 카테고리 고유 아이디
* aisle : 제품 상세카테고리
* department : 제품 카테고리

### (과거) 구매자군의 제품주문내역

In [48]:
priors.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [49]:
priors.order_id = priors.order_id.astype(np.int32)
priors.add_to_cart_order = priors.add_to_cart_order.astype(np.int16)
priors.reordered = priors.reordered.astype(np.int8)
priors.product_id = priors.product_id.astype(np.int32)

### (현재) 구매자군의 제품주문내역

In [50]:
train.head()

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

In [51]:
train.reordered = train.reordered.astype(np.int8)
train.add_to_cart_order = train.add_to_cart_order.astype(np.int16)

### 주문정보

In [52]:
orders.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [53]:
orders.order_dow = orders.order_dow.astype(np.int8)
orders.order_hour_of_day = orders.order_hour_of_day.astype(np.int8)
orders.order_number = orders.order_number.astype(np.int16)
orders.order_id = orders.order_id.astype(np.int32)
orders.user_id = orders.user_id.astype(np.int32)
orders.days_since_prior_order = orders.days_since_prior_order.astype(np.float32)

### 제품정보

In [54]:
products.head()

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [55]:
products.drop(['product_name'], axis=1, inplace=True)
products.aisle_id = products.aisle_id.astype(np.int8)
products.department_id = products.department_id.astype(np.int8)
products.product_id = products.product_id.astype(np.int32)

In [56]:
print('computing product f')
prods = pd.DataFrame()
prods['orders'] = priors.groupby(priors.product_id).size().astype(np.float32)
prods['reorders'] = priors['reordered'].groupby(priors.product_id).sum().astype(np.float32)
prods['reorder_rate'] = (prods.reorders / prods.orders).astype(np.float32)
products = products.join(prods, on = 'product_id')
del prods

computing product f

In [57]:
print('add order info to priors')
orders.set_index('order_id', inplace = True, drop = False)
priors = priors.join(orders, on = 'order_id', rsuffix = '_')
priors.drop('order_id_', inplace = True, axis = 1)

add order info to priors

In [60]:
print('cumputing user f')
usr = pd.DataFrame()
usr['average_days_between_orders'] = orders.groupby('user_id')['days_since_prior_order'].mean().astype(np.float32)
usr['nb_orders'] = orders.groupby('user_id').size().astype(np.int16)

users = pd.DataFrame()
users['total_items'] = priors.groupby('user_id').size().astype(np.int16)
users['all_products'] = priors.groupby('user_id')['product_id'].apply(set)
users['total_distinct_items'] = (users.all_products.map(len)).astype(np.int16)

users = users.join(usr)
del usr
users['average_basket'] = (users.total_items / users.nb_orders).astype(np.float32)
gc.collect()
print('user f', users.shape)

cumputing user f
user f (206209, 6)

In [61]:
priors['user_product'] = priors.product_id+priors.user_id * 100000

In [ ]:
d = dict()
for row in priors.itertyples():
    z = row.user_product
    
    if z not in d:
        d[z] = (1, (row.order_number, row.order_id), row.add_to_cart_order)
    else: