In [1]:
import os
import pandas as pd
import numpy as np
import scipy.sparse as sp
import argparse

from sklearn.preprocessing import LabelEncoder

# 전처리

In [2]:
path = '../Data/Book_Crossing/BX-Book-Ratings.csv'

In [18]:
dataframe = pd.read_csv(path, encoding = 'latin1', on_bad_lines = 'skip', sep = ';', header = 0)

In [19]:
dataframe.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [20]:
dataframe['ISBN'].nunique()

340556

In [21]:
dataframe.groupby(['ISBN'])['Book-Rating'].nunique()

ISBN
 0330299891    2
 0375404120    2
 0586045007    1
 9022906116    2
 9032803328    1
              ..
cn113107       1
ooo7156103     1
§423350229     1
´3499128624    1
Ô½crosoft      1
Name: Book-Rating, Length: 340556, dtype: int64

In [22]:
dataframe.groupby(['User-ID'])['ISBN'].nunique()

User-ID
2          1
7          1
8         18
9          3
10         2
          ..
278846     2
278849     4
278851    23
278852     1
278854     8
Name: ISBN, Length: 105283, dtype: int64

#### 0점에 관한 결론

0점은 최하점으로 추정됨

0점은 책을 읽지 않았다 라고 생각하면 안됨

In [24]:
user_le = LabelEncoder()

In [26]:
user_le = user_le.fit(dataframe['User-ID'])

In [28]:
len(user_le.classes_)

105283